eliterp_accounting/reports/XSD/ats.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="iva" type="ivaType"/>
    <!--Tipos XML de Información-->
    <xsd:simpleType name="numeroRucType">
        <xsd:annotation>
            <xsd:documentation/>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{10}001"/>
            <xsd:length value="13"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="razonSocialType">
        <xsd:annotation>
            <xsd:documentation>
                Razón Social del Informante
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="500"/>
            <xsd:minLength value="5"/>
            <xsd:pattern value="[a-zA-Z0-9][a-zA-Z0-9\s]+[a-zA-Z0-9\s]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="anioType">
        <xsd:annotation>
            <xsd:documentation>Se detalla el año correspondiente a la
                información que esta presentando el contribuyente, consta de cuatro
                dígitos.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="2000"/>
            <xsd:maxInclusive value="9999"/>
            <xsd:pattern value="\d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="mesType">
        <xsd:annotation>
            <xsd:documentation>Corresponde al periodo informado compuesto de dos
                digitos que van desde el 01 hasta el 12, corresponde al mes
                informado.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
            <xsd:minLength value="2"/>
            <xsd:pattern value="(0[1-9]|1[012])"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="numEstabRucType">
        <xsd:restriction base="xsd:integer">
            <xsd:minExclusive value="000"/>
            <xsd:maxInclusive value="999"/>
            <xsd:whiteSpace value="collapse"/>
            <xsd:pattern value="\d{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="totalVentasType">
        <xsd:restriction base="xsd:decimal">
            <xsd:maxInclusive value="999999999999.99"/>
            <xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}|[\-][0-9]{1,12}\.[0-9]{2}|[\-][0-9]{1,12}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="codigoOperativoType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IVA"/>
            <xsd:length value="3"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!--Tipos XML de Compras-->
    <xsd:simpleType name="codSustentoType">
        <xsd:annotation>
            <xsd:documentation>Este campo es obligatorio y su informacion es uno
                de los codigos de los tipos de sustento tributario
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tpIdProvType">
        <xsd:annotation>
            <xsd:documentation>Corresponde al detalle del tipo de identificacio
                de Compras.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="idProvType">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13"/>
            <xsd:minLength value="3"/>
            <xsd:pattern value="[0-9a-zA-Z]{3,13}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoComprobanteCompraAnuType">
        <xsd:annotation>
            <xsd:documentation>Se detalla los tipos de comprobantes vigentes
                segun el tipo de transaccion seleccionada en Compras y Anulados
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2,3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="parteRelType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:enumeration value="SI"/>
            <xsd:enumeration value="NO"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="fechaType">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(0[1-9]|[12][0-9]|3[01])[/](0[1-9]|1[012])[/](19|20)\d\d"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="establecimientoType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ptoEmisionType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="secuencialType">
        <xsd:annotation>
            <xsd:documentation>Se detalla el secuencial del comprobante de venta
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:pattern value="\d{1,13}"/>
            <xsd:whiteSpace value="collapse"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="autorizacionType">
        <xsd:annotation>
            <xsd:documentation>Corresponde al numero de autorizacion emitido por
                el situracion para emtir comprobantes de venta
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="49"/>
            <xsd:minLength value="3"/>
            <xsd:pattern value="[0-9]{3,49}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="monedaType">
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="999999999999.99"/>
            <xsd:pattern value="[0-9]{1,12}\.[0-9]{2}|[0-9]{1,12}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="pagoExteriorType">
        <xsd:sequence>
            <xsd:element name="pagoLocExt" type="pagoLocExtType"/>
            <xsd:element name="paisEfecPago" type="paisEfecPagoType"/>
            <xsd:element name="aplicConvDobTrib" type="aplicConvDobTribType"/>
            <xsd:element name="pagExtSujRetNorLeg" type="aplicConvDobTribType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="pagoLocExtType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:whiteSpace value="collapse"/>
            <xsd:enumeration value="01"/>
            <xsd:enumeration value="02"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="paisEfecPagoType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}|NA"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="aplicConvDobTribType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SI"/>
            <xsd:enumeration value="NO"/>
            <xsd:enumeration value="NA"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="formaPagoType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="formasDePagoType">
        <xsd:sequence>
            <xsd:element name="formaPago" type="formaPagoType" maxOccurs="unbounded" minOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="autRetencionType">
        <xsd:annotation>
            <xsd:documentation>Corresponde al numero de autorizacion emitido por
                el sistema de Facturacion para emtir comprobantes de venta
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="49"/>
            <xsd:minLength value="3"/>
            <xsd:pattern value="[0-9]{3,49}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!--Tipos XML de Ventas-->
    <xsd:simpleType name="tpIdClienteType">
        <xsd:annotation>
            <xsd:documentation>Corresponde al detalle del tipo de identificacion
                de Ventas.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="idClienteType">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="13"/>
            <xsd:minLength value="3"/>
            <xsd:pattern value="[0-9a-zA-Z]{3,13}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoComprobanteType">
        <xsd:annotation>
            <xsd:documentation>Se detalla los tipos de comprobantes vigentes
                segun el tipo de transaccion seleccionada
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="numeroComprobantesType">
        <xsd:annotation>
            <xsd:documentation>Se detalla el numero de comprobantes emitidos
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999999"/>
            <xsd:pattern value="\d{1,12}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ventasEstabType">
        <xsd:restriction base="xsd:integer">
            <xsd:minExclusive value="000"/>
            <xsd:maxInclusive value="999"/>
            <xsd:whiteSpace value="collapse"/>
            <xsd:pattern value="\d{3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!--Tipos XML de Ventas de Establecimiento-->
    <xsd:complexType name="ventaEstType">
        <xsd:sequence>
            <xsd:element name="codEstab" type="ventasEstabType"/>
            <xsd:element name="ventasEstab" type="totalVentasType"/>
            <xsd:element name="ivaComp" type="monedaType"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Estructura de Compras-->
    <xsd:complexType name="detalleComprasType">
        <xsd:sequence>
            <xsd:element name="codSustento" type="codSustentoType"/>
            <xsd:element name="tpIdProv" type="tpIdProvType"/>
            <xsd:element name="idProv" type="idProvType"/>
            <xsd:element name="tipoComprobante" type="tipoComprobanteCompraAnuType"/>
            <xsd:element name="parteRel" type="parteRelType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        campo nuevo 2013
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fechaRegistro" type="fechaType"/>
            <xsd:element name="establecimiento" type="establecimientoType"/>
            <xsd:element name="puntoEmision" type="ptoEmisionType"/>
            <xsd:element name="secuencial" type="secuencialType"/>
            <xsd:element name="fechaEmision" type="fechaType"/>
            <xsd:element name="autorizacion" type="autorizacionType"/>
            <xsd:element name="baseNoGraIva" type="monedaType"/>
            <xsd:element name="baseImponible" type="monedaType"/>
            <xsd:element name="baseImpGrav" type="monedaType"/>
            <xsd:element name="baseImpExe" type="monedaType"/>
            <xsd:element name="montoIce" type="monedaType"/>
            <xsd:element name="montoIva" type="monedaType"/>
            <xsd:element name="valRetBien10" type="monedaType" minOccurs="0">
            </xsd:element>
            <xsd:element name="valRetServ20" type="monedaType" minOccurs="0">
            </xsd:element>
            <xsd:element name="valorRetBienes" type="monedaType"/>
            <xsd:element name="valRetServ50" type="monedaType"/>
            <xsd:element name="valorRetServicios" type="monedaType"/>
            <xsd:element name="valRetServ100" type="monedaType"/>
            <xsd:element name="totbasesImpReemb" type="monedaType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="pagoExterior" type="pagoExteriorType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        campo nuevo 2013
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="formasDePago" type="formasDePagoType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        campo nuevo 2013
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="estabRetencion1" type="establecimientoType" minOccurs="0"/>
            <xsd:element name="ptoEmiRetencion1" type="ptoEmisionType" minOccurs="0"/>
            <xsd:element name="secRetencion1" type="secuencialType" minOccurs="0"/>
            <xsd:element name="autRetencion1" type="autRetencionType" minOccurs="0"/>
            <xsd:element name="fechaEmiRet1" type="fechaType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="comprasType">
        <xsd:sequence>
            <xsd:element name="detalleCompras" type="detalleComprasType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Estructura de Ventas-->
    <xsd:complexType name="detalleVentasType">
        <xsd:sequence>
            <xsd:element name="tpIdCliente" type="tpIdClienteType"/>
            <xsd:element name="idCliente" type="idClienteType"/>
            <xsd:element name="parteRelVtas" type="parteRelType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="tipoComprobante" type="tipoComprobanteType"/>
            <xsd:element name="tipoEmision" type="xsd:string"/>
            <xsd:element name="numeroComprobantes" type="numeroComprobantesType">
                <xsd:annotation>
                    <xsd:documentation>
                        cambio a 12 digitos
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="baseNoGraIva" type="monedaType"/>
            <xsd:element name="baseImponible" type="monedaType"/>
            <xsd:element name="baseImpGrav" type="monedaType"/>
            <xsd:element name="montoIva" type="monedaType"/>
            <xsd:element name="montoIce" type="monedaType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="valorRetIva" type="monedaType"/>
            <xsd:element name="valorRetRenta" type="monedaType"/>
            <xsd:element name="formasDePago" type="formasDePagoType" maxOccurs="1" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        campo nuevo 2013
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ventasType">
        <xsd:sequence>
            <xsd:element name="detalleVentas" type="detalleVentasType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Estructura de Ventas por Establecimiento-->
    <xsd:complexType name="ventasEstablecimientoType">
        <xsd:sequence>
            <xsd:element name="ventaEst" type="ventaEstType" maxOccurs="unbounded" minOccurs="1">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!--Estructura de Anulados-->
    <xsd:complexType name="anuladosType">
        <xsd:sequence>
            <xsd:element name="detalleAnulados" type="detalleAnuladosType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="detalleAnuladosType">
        <xsd:sequence>
            <xsd:element name="tipoComprobante" type="tipoComprobanteCompraAnuType"/>
            <xsd:element name="establecimiento" type="establecimientoType"/>
            <xsd:element name="puntoEmision" type="ptoEmisionType"/>
            <xsd:element name="secuencialInicio" type="secuencialType"/>
            <xsd:element name="secuencialFin" type="secuencialType"/>
            <xsd:element name="autorizacion" type="autorizacionType"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Estructura Principal-->
    <xsd:complexType name="ivaType">
        <xsd:sequence>
            <xsd:element name="TipoIDInformante">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="R"/>
                        <xsd:length value="1"/>
                        <xsd:whiteSpace value="collapse"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IdInformante" type="numeroRucType"/>
            <xsd:element name="razonSocial" type="razonSocialType"/>
            <xsd:element name="Anio" type="anioType"/>
            <xsd:element name="Mes" type="mesType"/>
            <xsd:element name="numEstabRuc" type="numEstabRucType" minOccurs="0">
            </xsd:element>
            <xsd:element name="totalVentas" type="totalVentasType" minOccurs="0">
            </xsd:element>
            <xsd:element name="codigoOperativo" type="codigoOperativoType">
            </xsd:element>
            <xsd:element name="compras" type="comprasType" minOccurs="0">
            </xsd:element>
            <xsd:element name="ventas" type="ventasType" minOccurs="0">
            </xsd:element>
            <xsd:element name="ventasEstablecimiento" type="ventasEstablecimientoType" maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="anulados" type="anuladosType" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
